<!DOCTYPE html>
<html>

<head>
    <title>FILE UPLOAD DEMO</title>
</head>

<body>
    <h1>Ipfs File Upload Demo</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit">
    </form>
</body>

</html>